/* Core Styling */
/* Centering things vertically in a table cell */
table td {
    display: table-cell;
    vertical-align: middle;
}
table img {
    margin: 0 auto 0 auto;
    display: block;
}
/* Page Up */
#pageup {
    padding: 5px 5px 5px 5px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    bottom: 30px;
    right: 30px;
    width: 35px;
    position: fixed;
    cursor: pointer;
    display: none;
    border: 3px solid #bfbfbf;
    text-align: center;
}
/* Centering container vertically and horizontally in a window */
#errorContainer,
#signinContainer{
    top: 45%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2000;
}

/* Box Shadow */
.box-shadow {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.box-shadow-wide {
    -webkit-box-shadow: 0 0 200px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 200px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.25);
}
/* Rounded Corners */

/* 20px Top Margin*/
.up-top {
    margin-top: 20px;
}
/* 20px Bottom Margin*/
.down-below {
    margin-bottom: 20px;
}
/* Background Colors */
.white-bg {
    background-color: #ffffff;
}
.gray-bg {
    background-color: #d0d0d0;
}
/* Headings underline using Horizontal line*/
/* CSS3 Substring matching attribute selector */
h1 + hr[class*="hr-bottom"] {
    margin: -18px 0 20px 0;
}
h2 + hr[class*="hr-bottom"] {
    margin: -17px 0 20px 0;
}
h3 + hr[class*="hr-bottom"] {
    margin: -16px 0 20px 0;
}
h4 + hr[class*="hr-bottom"] {
    margin: -14px 0 20px 0;
}
h5 + hr[class*="hr-bottom"] {
    margin: -13px 0 20px 0;
}
h6 + hr[class*="hr-bottom"] {
    margin: -12px 0 20px 0;
}
/* Border Style */
.border {
    border-width: 1px;
    border-style: solid;
}
.border-gray {
    border-color: #cccccc;
}
.border-gray-light {
    border-color: #dddddd;
}
.border-blue {
    border-color: #428bca;
}
.border-green {
    border-color: #5cb85c;
}
.border-cyan {
    border-color: #5bc0de;
}
.border-orange {
    border-color: #f0ad4e;
}
.border-red {
    border-color: #d9534f;
}
/* Extras */
/* Ellipsis */
.ellipsis {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
}
/* IE9 ellipsis fix */
.ellipsis:before {
    content: '';
}
td.ellipsis {
    max-width: 100px;
}
/* Don't show shadows when selecting text */
::-moz-selection {
    background: #5AF;
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
}
::selection {
    background: #5AF;
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
}
/* Custom Scrollbar in Textareas for Chrome */
textarea {
    resize: none;
}
textarea::-webkit-scrollbar {
    width: .5em;
}
textarea::-webkit-scrollbar-thumb {
    background: rgba(119, 119, 119, 0.25);
}
/* Add scroll to div */
.box-scroll {
    overflow: auto;
    height: auto;
    max-height: 200px;
}

/* Twitter Bootstrap Modification */
.modal-footer {
    background-color: #f2f2f2;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    margin-top: 0;
}