/* Main CSS Styling */
body {
    /*    background: #FFF url(../../images/bg/voting-process.jpg) no-repeat bottom right;*/
    font-size: 140%;
}

.navbar {
    border: none;
}

/* Callouts */
/* Common styles for all types */
.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

/* Variations */
.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #eed3d7;
}

.bs-callout-danger h4 {
    color: #b94a48;
}

.bs-callout-warning {
    background-color: #faf8f0;
    border-color: #faebcc;
}

.bs-callout-warning h4 {
    color: #c09853;
}

.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #bce8f1;
}

.bs-callout-info h4 {
    color: #3a87ad;
}

/* Media */
/* Avatar */
/* Box with arrow */
.media {
    padding: 15px 15px 0 0;
}

.media:nth-child(even) {
    background-color: #f5f5f5;
}

.media:last-child {
    border-radius: 0 0 3px 3px;
}

.media a.arrow-right {
    padding: 3px;
    margin-left: 10px;
}

.media .media-body {
    padding-left: 10px;
}

.post-ribbon{
    background: url(../../images/post-ribbon.png) no-repeat top right;
}

.post-admin {
    background-color: rgba(250, 245, 227, 1)!important;
}

.media .btn {
    margin-bottom: 15px;
}

.arrow-right {
    position: relative;
    background: #ffffff;
    border: 1px solid #dddddd;
}

.arrow-right:after,
.arrow-right:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow-right:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #ffffff;
    border-width: 8px;
    margin-top: -8px;
}

.arrow-right:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #dddddd;
    border-width: 9px;
    margin-top: -9px;
}

/* TB Custom btn */
.btn-inverse-warning:hover {
    color: #f0ad4e;
    background-color: transparent;
    border: 1px solid #f0ad4e;
}
.btn-inverse-warning {
    color: #fff;
    background-color: #f0ad4e;
}
/* Feedback */
#feedback {
    top: 0;
    right: 0;
    margin: 60px 40px 0 0;
    position: absolute;
    z-index: 2000;
}
/* Avatar sizes */
.avatar-150px {
    width: 150px;
    height: 150px;
}
.avatar-50px {
    width: 50px;
    height: 50px;
}
.avatar-32px {
    width: 32px;
    height: 32px;
}
/* Virtual Dialog Header */
.hero-unit {
    padding: 40px 20px;
    border: 1px solid #dddddd;
}
/* Responsive layout */
/* Large desktop */
@media (min-width: 1200px) {
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    footer .container {
        padding: 0 20px;
    }
}
/* Landscape phones and down */
@media (max-width: 480px) {
    footer .container {
        padding: 0 20px;
    }
}

/* Custom radio/checkbox button */
.result-form {
    border: 1px dotted #cccccc;
    background-color: #f9f9f9;
    padding: 10px 10px 0 10px;
    margin-bottom: 5px;
}
.result-form ul {
    display: block;
}
.result-form ul li:last-child > span{
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.result-form ul li:last-child > span small {
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    vertical-align: middle;
}

.ballot-form {
    border: 1px dotted #cccccc;
    background-color: #f9f9f9;
    padding: 10px 10px 5px 10px;
    margin-bottom: 5px;
}
input[type=checkbox].css-checkbox {
    display: none;
}

input[type=checkbox].css-checkbox + label.css-label {
    background-repeat: no-repeat;
    background-position: 0 0;
    line-height: 14px;
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 35px;
    height: 27px; 
    display: block;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -27px;
}

input[type=checkbox].css-checkbox:disabled + label.css-label {
    background-position: 0 -54px;
    color: #777;
    cursor: not-allowed;
}

label.css-label {
    background-image:url(../../images/sprites/checkbox-sprite.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label.css-label small {
    font-size: 12px;
    color: #777;
}

label.css-label img {
    margin-top: -2px;
}
